* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding-top: 130px;
}

.search-page {
    display: flex;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgb(47, 54, 47);
    color: white;
    padding: 20px;
    text-align: center;
    height: 155px; 
    box-sizing: border-box; 
}

header h2 {
    margin-top: 40px; /* Adjust this value as needed to move the h2 down */
}

#playlist-button, #credit-button, #close-view-button {
    background-color: rgb(27, 0, 0);
    margin-bottom: 50px;
}

#credit-button {
    margin-right: 100%;
}


.parent-button {
    position: relative;
    height: 102%; 
}

.hide-button {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    background-color: rgb(47, 54, 47);
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width:100%;
    position: fixed;
}

article, aside {
    margin-bottom: 100px;
    flex: 1;
}

article, aside, section {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%; 
}

.search {
    width: 44%;
    padding: 2px 6px;
    margin: 4px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: text; /
}

.sArrow {
    cursor: pointer;
    color:rgb(0, 0, 162);
}

.sArrow:hover {
    color: #bd30cf;
    cursor: pointer;
}


article {
    padding: 80px 20px 20px;
    background-color: #ededed; 
    margin-left: 10px;
}

aside {
    flex-grow: 1;
    flex: 0 0 15%; 
    background-color: #ededed; 
    padding: 20px; 
    height: 375px;
    margin-right: 20px;
    margin-bottom: 50px;
    order: -1;
  }

  aside fieldset {
    border: none;
  }

aside h2, aside .form-group, aside button {
    margin-bottom: 30px; 
}

.filter-active {
    background-color: #f0f0f0; 
}

#filterButton, #clearButton {
    margin: 10px;
    padding: 10px;
}

label {
    margin: 5px;
}

h2 {
    text-align: center;
    margin: 15px;
}

.form-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 30px;
    margin-right: 20px;
}

#song-table {
    width: 100%;
}

.songs-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow-y: scroll;
    max-height: 500px;
}

.songs-list li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        cursor: pointer;
}

.songs-list li > span {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}

.songs-list-header  {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 0;
}

.songs-list-header > span {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}

button {
    background-color: rgb(47, 54, 47);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 5px;
    cursor: pointer;
    line-height: 1;
  }

  #artist-label {
    margin-right: auto;
}

#artist-select, #genre-select {
    width: auto;
}

#artist-select,
#genre-select {
    width: 50%;
    padding: 2px 6px;
    margin: 4px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

label {
    margin-right: 10px;
}


section {
    width: 100%;
}

.song-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
}

.container3 {
    flex: 1;
    background-color: #ededed; 
    width: 40%;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    text-align:center;
}
.container3 li {
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}

ul {
    list-style-type:none;
}

.container4 {
    flex: 2;
    background-color: #ededed; 
    margin: 15px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    height: 40%;
}

#radarChart {
    width: 500px;
    height: 300px;
  }

.parent-button, .hide-playlist-button {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px; 
    position: relative; 
}


button {
    margin: 0; 
    padding: 10px 15px; 
}

.container6 {
    margin: 0;
    padding: 15px;
}

.playlist-header,.play-list li {
    display: flex; 
    justify-content: space-between; 
    padding: 5px 0; 
    border-bottom: 1px solid #ccc; 
}

.playlist-header {
    background: #f2f2f2; 
    padding: 5px 0; 
    font-weight: bold; 
    margin-bottom: 5px; 
}

.playlist-header span, .play-list li span {
    flex: 1; 
    text-align: center; 
    padding: 0 5px; 
}

.play-list {
    margin: 0; 
    padding: 0; 
    max-height: 400px;
    overflow-y: scroll;
}

.play-list li span, .play-list li button {
    flex: 2;
    text-align: center; 
    padding: 0 10px; 
}

.play-list li button {
    margin-left: 15px 5px; 
    padding: 5px 5px; 
    cursor: pointer; 
}

#snackbar {
    display: none;
    position:fixed;
    top: 10px;
    left: 43%;
    background-color: rgb(114, 2, 2);
    color: #fff;
    padding: 13px;
  }

#credits-popup {
    color: black;
    display: none; 
    position: absolute; 
    background-color: #ededed; 
    padding: 10px; 
}